SatelliteSituationCenterService-v2.0.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ssc.spdf.gsfc.nasa.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ssc.spdf.gsfc.nasa.gov/" name="SatelliteSituationCenterService">
<types>
<xsd:schema>
<xsd:import namespace="http://ssc.spdf.gsfc.nasa.gov/" schemaLocation="http://sscweb.sci.gsfc.nasa.gov:80/WS/ssc/2/SatelliteSituationCenterService?xsd=1"/>
</xsd:schema>
</types>
<message name="getDataFiles">
<part name="parameters" element="tns:getDataFiles"/>
</message>
<message name="getDataFilesResponse">
<part name="parameters" element="tns:getDataFilesResponse"/>
</message>
<message name="SSCExternalException">
<part name="fault" element="tns:SSCExternalException"/>
</message>
<message name="SSCResourceLimitExceededException">
<part name="fault" element="tns:SSCResourceLimitExceededException"/>
</message>
<message name="SSCDatabaseLockedException">
<part name="fault" element="tns:SSCDatabaseLockedException"/>
</message>
<message name="getAcknowledgements">
<part name="parameters" element="tns:getAcknowledgements"/>
</message>
<message name="getAcknowledgementsResponse">
<part name="parameters" element="tns:getAcknowledgementsResponse"/>
</message>
<message name="getPrivacyAndImportantNotices">
<part name="parameters" element="tns:getPrivacyAndImportantNotices"/>
</message>
<message name="getPrivacyAndImportantNoticesResponse">
<part name="parameters" element="tns:getPrivacyAndImportantNoticesResponse"/>
</message>
<message name="getKmlFiles">
<part name="parameters" element="tns:getKmlFiles"/>
</message>
<message name="getKmlFilesResponse">
<part name="parameters" element="tns:getKmlFilesResponse"/>
</message>
<message name="getGraphs">
<part name="parameters" element="tns:getGraphs"/>
</message>
<message name="getGraphsResponse">
<part name="parameters" element="tns:getGraphsResponse"/>
</message>
<message name="getAllGroundStations">
<part name="parameters" element="tns:getAllGroundStations"/>
</message>
<message name="getAllGroundStationsResponse">
<part name="parameters" element="tns:getAllGroundStationsResponse"/>
</message>
<message name="getAllSpaseObservatories">
<part name="parameters" element="tns:getAllSpaseObservatories"/>
</message>
<message name="getAllSpaseObservatoriesResponse">
<part name="parameters" element="tns:getAllSpaseObservatoriesResponse"/>
</message>
<message name="getAllSatellites">
<part name="parameters" element="tns:getAllSatellites"/>
</message>
<message name="getAllSatellitesResponse">
<part name="parameters" element="tns:getAllSatellitesResponse"/>
</message>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<portType name="SatelliteSituationCenterInterface">
<operation name="getDataFiles">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataFilesRequest" message="tns:getDataFiles"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataFilesResponse" message="tns:getDataFilesResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataFiles/Fault/SSCExternalException"/>
<fault message="tns:SSCResourceLimitExceededException" name="SSCResourceLimitExceededException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataFiles/Fault/SSCResourceLimitExceededException"/>
<fault message="tns:SSCDatabaseLockedException" name="SSCDatabaseLockedException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataFiles/Fault/SSCDatabaseLockedException"/>
</operation>
<operation name="getAcknowledgements">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAcknowledgementsRequest" message="tns:getAcknowledgements"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAcknowledgementsResponse" message="tns:getAcknowledgementsResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAcknowledgements/Fault/SSCExternalException"/>
</operation>
<operation name="getPrivacyAndImportantNotices">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getPrivacyAndImportantNoticesRequest" message="tns:getPrivacyAndImportantNotices"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getPrivacyAndImportantNoticesResponse" message="tns:getPrivacyAndImportantNoticesResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getPrivacyAndImportantNotices/Fault/SSCExternalException"/>
</operation>
<operation name="getKmlFiles">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getKmlFilesRequest" message="tns:getKmlFiles"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getKmlFilesResponse" message="tns:getKmlFilesResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getKmlFiles/Fault/SSCExternalException"/>
<fault message="tns:SSCResourceLimitExceededException" name="SSCResourceLimitExceededException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getKmlFiles/Fault/SSCResourceLimitExceededException"/>
<fault message="tns:SSCDatabaseLockedException" name="SSCDatabaseLockedException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getKmlFiles/Fault/SSCDatabaseLockedException"/>
</operation>
<operation name="getGraphs">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getGraphsRequest" message="tns:getGraphs"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getGraphsResponse" message="tns:getGraphsResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getGraphs/Fault/SSCExternalException"/>
<fault message="tns:SSCResourceLimitExceededException" name="SSCResourceLimitExceededException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getGraphs/Fault/SSCResourceLimitExceededException"/>
<fault message="tns:SSCDatabaseLockedException" name="SSCDatabaseLockedException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getGraphs/Fault/SSCDatabaseLockedException"/>
</operation>
<operation name="getAllGroundStations">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllGroundStationsRequest" message="tns:getAllGroundStations"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllGroundStationsResponse" message="tns:getAllGroundStationsResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllGroundStations/Fault/SSCExternalException"/>
</operation>
<operation name="getAllSpaseObservatories">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllSpaseObservatoriesRequest" message="tns:getAllSpaseObservatories"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllSpaseObservatoriesResponse" message="tns:getAllSpaseObservatoriesResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllSpaseObservatories/Fault/SSCExternalException"/>
</operation>
<operation name="getAllSatellites">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllSatellitesRequest" message="tns:getAllSatellites"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllSatellitesResponse" message="tns:getAllSatellitesResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getAllSatellites/Fault/SSCExternalException"/>
</operation>
<operation name="getData">
<input wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataRequest" message="tns:getData"/>
<output wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getDataResponse" message="tns:getDataResponse"/>
<fault message="tns:SSCExternalException" name="SSCExternalException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getData/Fault/SSCExternalException"/>
<fault message="tns:SSCResourceLimitExceededException" name="SSCResourceLimitExceededException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getData/Fault/SSCResourceLimitExceededException"/>
<fault message="tns:SSCDatabaseLockedException" name="SSCDatabaseLockedException" wsam:Action="http://ssc.spdf.gsfc.nasa.gov/SatelliteSituationCenterInterface/getData/Fault/SSCDatabaseLockedException"/>
</operation>
</portType>
<binding name="SatelliteSituationCenterPortBinding" type="tns:SatelliteSituationCenterInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDataFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
<fault name="SSCResourceLimitExceededException">
<soap:fault name="SSCResourceLimitExceededException" use="literal"/>
</fault>
<fault name="SSCDatabaseLockedException">
<soap:fault name="SSCDatabaseLockedException" use="literal"/>
</fault>
</operation>
<operation name="getAcknowledgements">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
</operation>
<operation name="getPrivacyAndImportantNotices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
</operation>
<operation name="getKmlFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
<fault name="SSCResourceLimitExceededException">
<soap:fault name="SSCResourceLimitExceededException" use="literal"/>
</fault>
<fault name="SSCDatabaseLockedException">
<soap:fault name="SSCDatabaseLockedException" use="literal"/>
</fault>
</operation>
<operation name="getGraphs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
<fault name="SSCResourceLimitExceededException">
<soap:fault name="SSCResourceLimitExceededException" use="literal"/>
</fault>
<fault name="SSCDatabaseLockedException">
<soap:fault name="SSCDatabaseLockedException" use="literal"/>
</fault>
</operation>
<operation name="getAllGroundStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
</operation>
<operation name="getAllSpaseObservatories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
</operation>
<operation name="getAllSatellites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
</operation>
<operation name="getData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SSCExternalException">
<soap:fault name="SSCExternalException" use="literal"/>
</fault>
<fault name="SSCResourceLimitExceededException">
<soap:fault name="SSCResourceLimitExceededException" use="literal"/>
</fault>
<fault name="SSCDatabaseLockedException">
<soap:fault name="SSCDatabaseLockedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SatelliteSituationCenterService">
<port name="SatelliteSituationCenterPort" binding="tns:SatelliteSituationCenterPortBinding">
<soap:address location="http://sscweb.sci.gsfc.nasa.gov:80/WS/ssc/2/SatelliteSituationCenterService"/>
</port>
</service>
</definitions>